.d-header {
    box-shadow: none;
    border-bottom: 1px solid var(--primary-low-mid);
    height: 5em;
    .d-icon {
        color: var(--primary-low-mid)
    }
  }
#main-outlet {
    padding-top: 6.5em;
}
.navigation-container {
	.select-kit.combo-box {
		// ...previous code
		&.category-drop,
    &.tag-drop {
      .select-kit-body {
        border-radius: .9em;
        background-color: var(--header_background);
  
        .select-kit-collection {
          background-color: var(--header_background);
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }
      }
    }
  }
}